<div class="keen-slider slide-container" style="height: 95vh" #sliderRef>
  <form [formGroup]="memberForm" (ngSubmit)="save()">
    <div class="keen-slider__slide number-slide1">
      <div class="top"></div>
      <div class="middle">
        <div class="left">
          <h2>Party supporters registration Portal</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
            pellentesque tincidunt eros, blandit ornare nibh congue quis.
            Suspendisse potenti. Vivamus condimentum quis metus ut iaculis.
            Aenean sodales augue lorem, et euismod sem volutpat a. Vestibulum
            fermentum purus lorem, sit amet gravida nulla pulvinar a.
          </p>
        </div>
        <div class="right" style="text-align: center">
          <img src="../assets/image/logo.svg" alt="logo" />
          <h1>The Peoples Democratic Party</h1>
        </div>
      </div>
      <div class="bottom">
        <img src="../assets/image/ArrowUp.svg" alt="ArrowUp" />
        <p>Swipe Up</p>
      </div>
    </div>
    <div class="keen-slider__slide number-slide2">
      <div class="top">
        <img src="../assets/image/ArrowDown.svg" alt="ArrowDown" />
        <p>Swipe Down</p>
      </div>
      <div class="middle">
        <div class="left">
          <p>First name:</p>
          <input
            type="text"
            class="form-control"
            id="firstname"
            formControlName="firstname"
          />
          <p>Last name:</p>
          <input
            type="text"
            class="form-control"
            id="lastname"
            formControlName="lastname"
          />
          <p>Email:</p>
          <input
            type="text"
            class="form-control"
            id="email"
            formControlName="email"
          />
          <p>Phone:</p>
          <input
            type="text"
            class="form-control"
            id="phone"
            formControlName="phone"
          />
        </div>
        <div class="right">
          <h1>Your vote counts!</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
            pellentesque tincidunt eros, blandit ornare nibh congue quis.
            Suspendisse potenti. Vivamus condimentum quis metus ut libero
            varius, ac posuere ipsum mollis. Donec vel tincidunt lectus. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
      <div class="bottom">
        <img src="../assets/image/ArrowUp.svg" alt="ArrowUp" />
        <p>Swipe Up</p>
      </div>
    </div>
    <div class="keen-slider__slide number-slide3">
      <div class="top">
        <img src="../assets/image/ArrowDown.svg" alt="ArrowDown" />
        <p>Swipe Down</p>
      </div>
      <div class="middle">
        <div class="left">
          <p>WhatsApp:</p>
          <input
            type="text"
            class="form-control"
            id="whatsapp"
            formControlName="whatsapp"
          />
          <p>State:</p>
          <input
            type="text"
            class="form-control"
            id="state"
            formControlName="state"
          />
          <p>Local Government:</p>
          <input
            type="text"
            class="form-control"
            id="lga"
            formControlName="lga"
          />
          <p>PVC no.:</p>
          <input
            type="text"
            class="form-control"
            id="pvc"
            formControlName="pvc"
          />
          <button type="submit">
            <div class="circle-right"></div>
            Submit
            <div class="circle-left"></div>
          </button>
        </div>
        <div class="right">
          <h1>Keep in touch</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel
            metus. Vivamus sed diam non felis. Aliquet felis felis. Aliquet
            felis. Aliquet felis. Aliquet felis. Aliquet felis. Aliquet felis.
            Aliquet felis.
          </p>
        </div>
      </div>
      <div class="bottom">
        <img src="../assets/image/ArrowUp.svg" alt="ArrowUp" />
        <p>Swipe Up</p>
      </div>
    </div>
    <div class="keen-slider__slide number-slide4">
      <div class="top">
        <img src="../assets/image/ArrowDown.svg" alt="ArrowDown" />
        <p>Swipe Down</p>
      </div>
      <div class="middle">
        <div class="left">
          <h2>Earn <b>Points</b></h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos,
            eveniet possimus nihil temporibus beatae laboriosam nemo a ea cumque
            sit praesentium iure, quibusdam ex. Blanditiis non sunt nam
            consequatur facere.
          </p>
          <div class="share-box">https://pdpportal.com/AhmedRabiu22</div>
          <button type="button">Copy</button>
        </div>
        <div class="right">
          <h1>Share the word</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel
            felis justo. Vivamus sagittis justo. Vivamus sagittis justo. Vivamus
            sagittis justo. Vivamus sag. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris pellentesque tincidunt eros, blandit ornare
            nibh congue quis.
          </p>
        </div>
      </div>
      <div class="bottom">
        <img src="../assets/image/ArrowUp.svg" alt="ArrowUp" />
        <p>Swipe Up</p>
      </div>
    </div>
  </form>
</div>
